.container-fluid
    background-color whitish

.title
    background-color superhero_red
    height 50px
    text-align center
    color white
    padding-top 10px

.titles
    background-color menu_yellow
    height 50px
    padding-top 10px

.dashboardImages
    width 100px
    height 100px
    border-radius 50%
    margin-top 20px
    margin-left 20px

.dashboardBackgroundImages1
    position fixed
    max-width 20%
    height auto
    left -6%
    z-index 100

.dashboardBackgroundImages2
    position fixed
    max-width 20%
    height auto
    left 85%
    z-index 100

h4
    color whitish


// Flexboxes

.cards
    display flex
    flex-direction column
    text-align center
    box-shadow 0 4px 6px 0 rgba(0,0,0,0.2)
    border-radius 12px
    padding 0

.cardName
    height 30px
    font-weight bold
    color whitish
    background-color superhero_red
    width 100%
    border-top-left-radius 12px
    border-top-right-radius 12px

.statsGreatContainer
    display flex

.statsContainer
    display flex
    flex-wrap wrap
    justify-content center

.stats
    width 100px

.statsNumber
    font-size 18px
    font-weight bold 
    color header_orange

.versus
    font-weight bold
    font-size 28px

.nextMatch
    font-weight bold
    font-size 20px

.orderTeam
    font-size 18px

.heroesTitle
    text-align center

.heroNames
    font-weight bold
    font-size 20px
    padding-top 10px
    padding-bottom 10px

.cardContainer
    display flex
    flex-wrap wrap

.bigContainer
    background-color whitish


// Your Championship part

.yourChampionship
    background-color menu_yellow
    height 50px
    padding-top 10px
    color whitish
    font-size 20px
    font-weight bold

.myTeamImages
    height 90px
    width 70px

.opponentTeamImages
    height 90px
    width 70px

.nextDay
    color whitish
    text-align center
    margin-bottom 20px
    padding-top 15px
    padding-bottom 15px

.opponentStats
    padding-left 20px
    font-weight bold
    white-space 