.container-fluid
    background-color whitish

.title
    background-color superhero_red
    height 50px
    text-align center
    color white
    padding-top 10px

.titles
    background-color #FFBC29
    height 50px
    padding-top 10px
    padding-left 30px

h4
    color white

.cards
    border 1px solid superhero_red
    display flex
    flex-wrap no-wrap
    flex-direction column
    text-align center

.cardImage
    border 1px solid green
    width 150px

.data_first
    border 1px solid blue
    width 100px
    flex-direction column

.data_second
    border 1px solid blue
    width 100px
    flex-direction column

.datas
    border 1px solid black
    width 100px

    