.container-fluid
    background-color whitish

.title
    background-color superhero_red
    height 50px
    text-align center
    color white
    padding-top 10px

.titles
    background-color #FFBC29
    height 50px
    padding-top 10px
    padding-left 30px

h4
    color white

.cards
    border 1px solid superhero_red
    display flex
    flex-direction column
    text-align center

.cardName
    height 30px
    font-weight bold

.statsGreatContainer
    display flex

.statsContainer
    display flex
    flex-wrap wrap

.stats
    width 100px
    