.homepageTitleContainer
    margin-top 130px
    text-align center

.homepageTitle
    font-size 48px
    color whitish

.gameResume
    margin-top 100px
    text-align center
    color whitish

.homepageButtonContainer
    margin-top 100px
    text-align center

.readTheRulesButton
    height 60px
    width 377px
    background-color menu_yellow
    border-radius 500px

.registerButton
    height 60px
    width 222px
    background-color whitish
    border-radius 500px

.signInLink
    color menu_yellow