.homepageTitleContainer
    margin-top 130px
    text-align center

.homepageTitle
    font-size 48px  
    color whitish
    text-align center

.gameResume
    margin-top 100px
    text-align center
    color whitish

.homepageButtonContainer
    margin-top 100px
    text-align center

.readTheRulesButton
    line-height 60px
    width 377px
    background-color menu_yellow
    border-radius 500px

.registerButton
    line-height 60px
    width 222px
    background-color superhero_red
    border-radius 500px
    color whitish
    transition 0.3s ease-in-out

    &:hover
        background-color whitish

    a
        display inline-block
        color whitish
        height 100%
        width 100%
        transition 0.3s ease-in-out

        &:hover
            color superhero_red
        

.signInLink
    color whitish
    transition 0.3s ease-in-out

    &:hover
        color superhero_red

.signInLink:hover
    color superhero_red

.homepageImg
    position fixed
    max-width 20%
    height auto

.stepsImg
    max-width 40%

.homepageSteps
    font-size 30px  
    color whitish
    text-align center
    

.homepageStepsDescription
    font-size 20px  
    color whitish
    text-align center