.hello
    color whitish
    text-align center
    display block
    font-size: 36px
    margin-top 20px

.leagueContainer
    background-color whitish
    text-align center

.leaguesButton
    background-color superhero_red 
    border-radius 15px
    margin-bottom 30px
    padding 5px 10px

.formWhite
    background-color whitish
    position relative

.flexPopin
    width 100%

.formTitle
    top -12px

.closePopin
    position absolute
    right 5%
    top 5%
    color white

.flexPopin
    display flex

.heroBg img
    position absolute
    height auto
    width 60%
    bottom 0
    left 50%
    top 80%
    transform translateX(-50%)
    min-width 30%

.leagues
    margin-top 50px
    margin-bottom 70px
    display flex
    flex-direction row
    justify-content center

    .userLeague
        display flex
        flex-direction column
        justify-content center
        border: 1px solid black
        border-radius: 5px
        margin: 5px
        text-align center
        padding: 20px

        h4.leagueName
            color black

.deadpool
    display block
    margin auto
    margin-top -60px