.leagueContainer
    background-color whitish
    text-align center

.leaguesButton
    background-color superhero_red 
    border-radius 15px

.formWhite
    background-color whitish
    position relative

.closePopin
    position absolute
    left 93%

.flexPopin
    display flex