.leagueContainer
    background-color whitish
    text-align center

.leagues
    margin-top 50px
    margin-bottom 70px

.leaguesButton
    background-color superhero_red 
    border-radius 15px
    margin-bottom 30px
    padding 5px 10px

.formWhite
    background-color whitish
    position relative

.flexPopin
    width 100%

.formTitle
    top -10px

.closePopin
    position absolute
    right 5%
    top 5%
    color white

.flexPopin
    display flex