.menuBtns
  position absolute
  top 35px
  right 20px
  display inline-block

.redButton
  background superhero_red
  border-radius 100px
  color whitish
  line-height 34px
  display inline-block
  min-width: 150px
  text-align center
  transition: 0.3s ease-in-out
  border: 1px solid superhero_red
  &:hover
    background whitish
    color superhero_red

  