.row
    text-align center

table  
  text-align center 

.tableContainer
  background-color whitish

.tableTitle
    height 60px
    background-color header_orange
    text-align center
    padding 15px
    color whitish

.tableHeader
    background-color menu_yellow

.budgetRemaining
    padding-top 10px
    padding-bottom 10px
    background-color header_orange
    border-radius 10px
    color whitish


@media screen and (max-width: 620px) 
    .displayTable 
      display none

