.recruitList
  display flex
  flex-direction column
  justify-content flex-end
  width 100% !important

  .labels
    width 100%
    display flex
    flex-direction row
    justify-content space-between
    background red
    color: #fff

    p
      width 120px

    .data
      display flex
      flex-direction row
      justify-content flex-end

  .heroLine
    display flex
    flex-direction row
    justify-content space-between
    border-bottom 1px solid red

    p
      width: 120px
      color: white

    .data
      display flex
      flex-direction row
      justify-content flex-end



.recruitHeader
    height 50px
    background-color header_orange
    text-align center
    padding 10px

.budgetRemaining
    background-color header_orange
    border-radius 20px