.rulesContainer
    background-color superhero_red
    margin-top 100px
    color whitish

.rulesButton
    background-color whitish
    border-radius 15px
    padding 5px 10px 
    margin auto

.rulesButton a
    color black

.rulesTittle
    text-align center
    margin-top 30px

.rulesText
    margin-top 40px
    line-height 1.5

.batman
    position absolute
    top 90%
    right 0

.rocket
    position absolute
    top 280%
    left 0

