.signinHeroBg img
    position absolute
    height auto
    width 60%
    bottom 0
    left 50%
    top 80%
    transform translateX(-50%)
    min-width 30%

.signupHeroBg img
    position absolute
    height auto
    width 60%
    bottom 0
    left 50%
    top 80%
    transform translateX(-50%)
    min-width 30%